button {
  min-height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
  width: 100%;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

button.google-button {
  background: white;
  border: 1px solid black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &:hover {
    border-color: var(--light-grey);
  }

  img {
    max-width: 35px;
    display: inline;
    order: 1;
  }
}

button.add-to-cart-button {
  background: white;
  border: 1px solid var(--primary-grey);
  color: var(--light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  text-transform: capitalize;
  opacity: 0.8;

  &:hover {
    animation-name: color-fade;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    opacity: 0.9;
  }
}

@keyframes color-fade {
  0% {
    color: var(--light-grey);
  }

  100% {
    color: var(--primary-red);
  }
}
