button {
  min-height: 50px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

button.google-button {
  background: white;
  border-color: grey;
  border: 1px solid;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button.google-button:hover {
  border-color: var(--light-grey);
}

button.google-button img {
  max-width: 35px;
  display: inline;
  order: 1;
}
